@model FitnessCenterManagement.Models.Service

@{
    ViewData["Title"] = "Hizmet Sil";
}

<h1>Hizmet Sil</h1>

<h3>Bu hizmeti silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Hizmet Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Hizmet Adı
        </dt>
        <dd class="col-sm-9">
            @Model.ServiceType.GetDisplayName()
        </dd>

        <dt class="col-sm-3">
            Açıklama
        </dt>
        <dd class="col-sm-9">
            @Model.Description
        </dd>

        <dt class="col-sm-3">
            Süre (Dakika)
        </dt>
        <dd class="col-sm-9">
            @Model.DurationMinutes
        </dd>

        <dt class="col-sm-3">
            Ücret (aylık)
        </dt>
        <dd class="col-sm-9">
            @Model.Price.ToString("C2")
        </dd>

        <dt class="col-sm-3">
            Spor Salonu
        </dt>
        <dd class="col-sm-9">
            @Model.FitnessCenter!.Name
        </dd>
    </dl>

    <!-- Silme formu -->
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>