@model FitnessCenterManagement.Models.Service

@{
    ViewData["Title"] = "Hizmet Detayları";
}

<h1>Hizmet Detayları</h1>

<div>
    <h4>Hizmet Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Hizmet Adı
        </dt>
        <dd class="col-sm-9">
            @Model.ServiceType.GetDisplayName()
        </dd>

        <dt class="col-sm-3">
            Açıklama
        </dt>
        <dd class="col-sm-9">
            @Model.Description
        </dd>

        <dt class="col-sm-3">
            Süre (Dakika)
        </dt>
        <dd class="col-sm-9">
            @Model.DurationMinutes
        </dd>

        <dt class="col-sm-3">
            Ücret (aylık)
        </dt>
        <dd class="col-sm-9">
            @Model.Price.ToString("C2")
        </dd>

        <dt class="col-sm-3">
            Spor Salonu
        </dt>
        <dd class="col-sm-9">
            @Model.FitnessCenter!.Name
        </dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>